﻿@model AirlineMVC3.Models.FlightViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@if (ViewBag.ErrorMessage != null)
{
    <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Port)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Port)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Terminal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Terminal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EconomPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EconomPrice)
        </dd>

    </dl>

    <div>
        @{Html.RenderPartial("../Passengers/PartPassDetails", ViewBag.PassengerList as IEnumerable<AirlineMVC3.Models.PassengerViewModel>);}
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.FlightNumber);
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
