﻿@model AirlineMVC3.Models.FlightViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FlightViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Port)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Port)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Terminal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Terminal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EconomPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EconomPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightStatus)
        </dd>

    </dl>
</div>

<div>
    @{Html.RenderPartial("../Passengers/PartPassDetails", ViewData["passengers"]);}
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FlightNumber}) |
    @Html.ActionLink("Back to List", "Index")
</p>
