﻿@model IEnumerable<AirlineMVC3.Models.FlightViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Flights</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @using (Html.BeginForm("Index", "Flights", FormMethod.Get))
    {
    <div class="search-control">
        <b>Search Output</b>
        @Html.RadioButton("searchOutputType", "All", true) <text>All Types</text>
        @Html.RadioButton("searchOutputType", "Arrival") <text>Arrival</text>
        @Html.RadioButton("searchOutputType", "Departure") <text>Departure</text>
        <br />
    </div>

    <div class="search-control">
        <b>Search By</b>
        @Html.RadioButton("searchBy", "FlightNumber", true) <text>Flight Number</text>
        @Html.RadioButton("searchBy", "Port") <text>Port</text>
        <br />
        @Html.TextBox("search") <input value="search" type="submit" />
    </div>

    }
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FlightNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightType);
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FLDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Port)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Terminal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusinessPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EconomPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightStatus);
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td>
                <b>No flights found by this request</b>
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FLDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Port)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Terminal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EconomPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FlightNumber }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FlightNumber }) |
                    @if (!Request.RawUrl.Contains("Passengers"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.FlightNumber })
                    }
                </td>
            </tr>
        }

    }

</table>
