﻿@model AirlineMVC3.Models.PassengerViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    Html.RenderPartial("PartPassProp");

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index");
    </p>

}





