﻿@model IEnumerable<AirlineMVC3.Models.PassengerViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Passenger List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @using (Html.BeginForm("Index", "Passengers", FormMethod.Get))
    {
        <b>Search By</b>
        @Html.RadioButton("searchBy", "FirstName", true) <text>First Name</text>
        @Html.RadioButton("searchBy", "LastName") <text>Last Name</text>
        @Html.RadioButton("searchBy", "Passport") <text>Passport</text>
        @Html.RadioButton("searchBy", "FlightNumber") <text>Flight Number</text>
        <br/>
        @Html.TextBox("search") <input type="submit" value="Search" />
    }
</p>
@{Html.RenderPartial("PartPassDetails");}

