﻿@model IEnumerable<AirlineMVC3.Models.PassengerViewModel>

<h4>Passenger list:</h4>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.PassengerId)</th>
        <th>@Html.DisplayNameFor(model => model.Passport)</th>
        <th>@Html.DisplayNameFor(model => model.FirstName)</th>
        <th>@Html.DisplayNameFor(model => model.LastName)</th>
        <th>@Html.DisplayNameFor(model => model.Nationality)</th>
        <th>@Html.DisplayNameFor(model => model.FlightNumber)</th>
        <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
        <th>@Html.DisplayNameFor(model => model.Gender)</th>
        <th>@Html.DisplayNameFor(model => model.Class) </th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="8"><b>No passenger found by your request</b></td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PassengerId)</td>
                <td>@Html.DisplayFor(modelItem => item.Passport)</td>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Nationality)</td>
                <td>@Html.DisplayFor(modelItem => item.FlightNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.BirthDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Gender)</td>
                <td>@Html.DisplayFor(modelItem => item.Class)</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Passengers", new { id = item.PassengerId }, null) |
                    @Html.ActionLink("Edit", "Edit", "Passengers", new { id = item.PassengerId }, null) |
                    @{
                        if (Request.RawUrl.Contains("Passengers"))
                        {
                            @Html.ActionLink("Delete", "Delete", "Passengers", new { id = item.PassengerId }, null);
                        }
                    }

                </td>
            </tr>
        }
    }

</table>

